/*/////  GLOBAL RESET: FJERNER BROWSERENS STANDARD MARGIN/PADDING, OG GØR STØRELSEER LETTERE AT STYLE MED  /////*/
* {
  margin: 0; /* margin: 0; (→ fjerner standard luft udenfor elementer) */
  padding: 0; /* padding: 0; (→ fjerner standard luft indeni elementer) */
  box-sizing: border-box; /* box-sizing: border-box; (→ padding tælles med i width/height) */
}

/*/////  BAGGRUNDSBILLEDE + FÅR SKÆRMEN TIL AT FYLDE DET HELE  /////*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Arial, Helvetica, sans-serif;
  overflow: hidden; /* fjerner scrollbars  */
}

.quiz {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/img/forside.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}