/*/////  BAGGRUNDSBILLEDE + FÅR SKÆRMEN TIL AT FYLDE DET HELE  /////*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Arial, Helvetica, sans-serif;
  overflow: hidden; /* fjerner scrollbars  */
}

/* HERO SCREEN - base (skjult) */
.hero-screen {
  display: none; /* skjuler forsiden som standard */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  background-image: url("/img/forside.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* HERO SCREEN - når aktiv */
.hero-screen.active {
  display: flex;

  justify-content: flex-end;
  align-items: flex-start; /* op mod toppen */
  padding-right: 30px;
  padding-top: 50px;
}

.hero-card {
  max-width: 750px;
  text-align: right;
}

/*///// OVERSKRIFT /////*/
.hero-card h1 {
  text-align: right;
  font-size: 100px;
  font-weight: bold;
  color: white;
  font-family: "Special Gothic Expanded One", sans-serif;

  line-height: 0.85;
  margin: 0;
  letter-spacing: -1px;

  text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
}

/*///// UNDERTEXT /////*/
.hero-card p {
  text-align: right;
  font-size: 22px; /* mindre tekst */
  margin-top: 30px;
  font-weight: normal;
  color: white;
  font-family: "Special Gothic Expanded One", sans-serif;

  text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
}

/*/////  START BUTTON  /////*/
.startBtn {
  width: 200px;
  height: 55px;
  margin-top: 30px;

  background: #677158;
  color: rgb(255, 255, 255);

  border: 1px solid black;
  border-radius: 999px;

  font-size: 20px;
  font-weight: bold;

  cursor: pointer; /* sætter pointer på så den er nemmer at se om man rammer når vi skal vise det på computer */
}

